<a href="https://colab.research.google.com/github/AyePwint-Dev/MMDT_T-PY101_Batch03/blob/main/Aye_Pwint/Ex05_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [3]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(6,5)

*****
*****
*****
*****
*****
*****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [4]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(3)

387

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [5]:
def number_of_factors(n):
    result = []
    for i in range (1,n+1):
        if n%i == 0:
            result.append(i)
    return len (result)
number_of_factors(10)

4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [6]:
def first_diff(first_str, second_str):
    first_str = first_str.lower()
    second_str = second_str.lower()
    i = 0
    while i < len(first_str) and i < len(second_str):
        if first_str[i] != second_str[i]:
            return i
        i += 1
    return -1 if first_str == second_str else i

first_diff("Apple", "Aprle")

2

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [8]:
def root(x,n=2):
    return x/n
root (25,10)

2.5

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [10]:
def system_equations(a, b, c, d, e, f):
    determinant = a*d - b*c

    if determinant == 0:
        return "No unique solution"

    x = (e*d - b*f) / determinant
    y = (a*f - e*c) / determinant

    return round(x,2), round(y,2)

system_equations (2,3,5,2,4,1)

(-0.45, 1.64)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [12]:
def change_case(string):
    result = ""
    for i in string:
        if i.isupper():
            result += i.lower()
        else:
            result += i.upper()
    return result

change_case("Great Moments")

'gREAT mOMENTS'

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [14]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    else:
        return True

def primes(n=100):
    prime_list = []
    num = 2

    while len(prime_list) < n:
        if is_prime(num):
            prime_list.append(num)
        num += 1

    return prime_list

primes(9)

[2, 3, 5, 7, 11, 13, 17, 19, 23]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [15]:
import random
grid = [
        [0, 1, 2],
        [0, 1, 2],
        [0, 1, 2]
    ]

def choose_random_0(board):
    while True:
        row = random.randint(0, 2)
        col = random.randint(0, 2)
        if board[row][col] == 0:
            board[row][col] = 2
            break
    return board


choose_random_0(grid)

[[2, 1, 2], [0, 1, 2], [0, 1, 2]]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are no repeated numbers in any row or any column or in any of the nine “blocks.”

In [19]:
board = [
  [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
]
def valid_sudoku(board):
    #checking all the rows if the rows has repeated numbers and the sorted function will sort numbers 1 to 9 randomly
    for row in board:
        if set(row) != set(range(1, 10)):
            return False
    return True

valid_sudoku(board)

True